@charset "ISO-8859-1";

body {
	background-image: url(/Agenda_telefonica_JDBC/img/amb-agend.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.texto{
 display: none;
 
}

.fondo{
	background: black;
}