@charset "ISO-8859-1";
body{
	background-image: url(/Agenda_telefonica_JDBC/img/DistantMountain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.formulario{
	background: rgba(0,0,0,.1);
	padding: 20px;
	border-radius: 10px;
	box-shadow:0 0 30px rgba(0,0,0,0.568) ;
	color: white;
	
	
}

.form-control{
	background: rgba(0,0,0,.3);
	border-style: none;
	transition: 0.5s ease-in;
	autline: none;
	box-shadow: none;
}

.form-control::placeholder{
	color: white;
	
}
.form-control:focus{
	background: none;
	box-shadow: none;
	autline: none;
	 
}

.ingresar{
	background: #222A3F;
	padding: 10px;
	font-size: 16px;
	font-weight: 700!important;
	color : white;
	box-shadow:0 0 30px rgba(0,0,0,0.568) ;
	transition: 0.5s ease-in 
	
}

.ingresar:hover{
	color: white;
}

.olvide{
	color:white;
	text-decoration-style: none;
	text-decoration-line: none;
	font-size: 20px;
	font-weight: 700!important;
	border: 2px solid white;
	padding: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,.5);
	
}
.olvide:hover{
	color: white;
	text-decoration-style: none;
	text-decoration-line: none;
	cursor:pointer;
}

